<div class="AuthorContainer">
    <div>About the Author</div>

    <img src="<%= blog.author.profilePic %>" referrerpolicy="no-referrer" alt="user profile image">
    <a href="/profile/myprofile/<%= blog.author._id %>"><article><%= blog.author.userName %></article></a>
    <div class="AuthorStats">
        <div><%= blog.author.posts.length %> Posts</div>
        <div class="AuthorDot">&bull;</div>
        <div><%= blog.author.followers.length %> Followers</div>
    </div>
    <p><%= blog.author.bio %></p>
    <% if(!following && blog.author.userName !== user.userName){ %>
        <button onclick="follow('<%= blog.author._id %>')" class="btn btn-primary editProfileBtn btn-sm">Follow</button>
    <% }else if(following){ %>
        <button onclick="unfollow('<%= blog.author._id %>')" class="btn btn-danger hover:bg-red-600 hover:text-white editProfileBtn btn-sm">Unfollow</button>
    <% }else{ %>
        <button onclick="window.location.assign('/profile/myprofile/<%= user._id %>')" class="btn btn-primary editProfileBtn btn-sm mr-5">My Profile</button>
    <% } %>
</div>