<div class="AuthorContainer">
    <div>About the Author</div>

    <img src="<%= blog.author.profilePic %>" referrerpolicy="no-referrer" alt="user profile image">
    <a href="/profile/myprofile/<%= user.id %>"><article><%= blog.author.userName %></article></a>
    <div class="AuthorStats">
        <div><%= blog.author.posts.length %> Posts</div>
        <div class="AuthorDot">&bull;</div>
        <div><%= user.followers.length %> Followers</div>
    </div>
    <p><%= user.bio %></p>
    <% if(!following){ %>
        <button onclick="follow('<%= blog.author._id %>')" class="btn btn-primary editProfileBtn btn-sm mr-5">Follow</button>
    <% }else{ %>
        <button onclick="unfollow('<%= blog.author._id %>')" class="btn btn-primary editProfileBtn btn-sm mr-5">Unfollow</button>
    <% } %>
</div>