<div class="DiscWrapper">
<div class="DiscUsersContainer">
    <div class="DiscUsersHeader">
        <i class="fa-solid fa-people-line"></i>
        <span>People to Follow</span>
    </div>
    <div class="DiscUser">
        <a class="profileLink postUser" href="<%= (typeof user !== "undefined") ? '/profile/myprofile/' + specificUser._id : '/login' %>"">
            <img src="<%= specificUser.profilePic %>" referrerPolicy="no-referrer" alt="user profile image">
            <span><%= specificUser.userName %></span>
        </a>
        <div>
            <%if(typeof user !== 'undefined'){%>
                <% if (user.following.indexOf(specificUser._id) === -1) { %>
                    <button onclick="follow('<%= specificUser._id %>')" class="btn btn-primary btn-xs mr-5">Follow</button>
                <% } else { %>
                    <button onclick="unfollow('<%= specificUser._id %>')" class="btn btn-danger hover:text-white hover:bg-red-600 btn-xs mr-5">Unfollow</button>
                <% } %>
                <%}else{%>
                    <button onclick="window.location.assign('/login');" class="btn btn-primary btn-xs mr-5">Follow</button>
                <%}%>
        </div>
    </div>
</div>

<div class="DiscTrendingContainer">
    <div class="DiscTrendingHeader">
        <div class="DiscTrendingIcon"></div>
        <span>Trending Today</span>
    </div>
    <div class="DiscTrendingPost">
        <a href="/blog/<%= populatedRandomBlog.slug %>/read"><%= populatedRandomBlog.title %></a>
        <div>
            <a class="profileLink discoveryUser" href="<%= (typeof user !== "undefined") ? '/profile/myprofile/' + populatedRandomBlog.author._id : '/login' %>"">
                <img src="<%= populatedRandomBlog.author.profilePic %>" referrerPolicy="no-referrer" alt="user profile image">
                <span><%= populatedRandomBlog.author.userName %></span>
            </a>
        </div>
    </div>
</div>

<div class="DiscTopicsContainer">
    <div class="DiscTopicsHeader">
        <i class="fa-solid fa-book-open-reader"></i>
        <span>Topics for You</span>
    </div>
    <div class="DiscTopicsButtons">
        <btn>Coming Soon</btn>
    </div>
</div>
</div>