<div class="userLogo">
    <% if(typeof user !== "undefined") { %>
      <a class="profileLink" href="/profile/myprofile/<%= user._id %>">
        <img src="<%= user.profilePic %>" referrerPolicy="no-referrer" alt="user profile image">
      </a>
      <div class="dropdown dropdown-end userOptions">
        <label tabindex="0" class="btn m-1 dropdown-button">
          <span><%= user.userName %></span>
          <i id="dropdown-icon" class="fa-solid fa-chevron-down"></i>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-30 pcDropdownStyle headerDropdownStyle">
          <li><a href="/profile/myprofile/<%= user._id %>">Profile <i class="fa-solid fa-user"></i></a></li>
          <li><a href="/settings/<%= user._id %>">Settings <i class="fa-solid fa-gear"></i></a></li>
          <li><a>Theme <input type="checkbox" class="toggle" checked /></a></li>
          <li><a href="/login/logout">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
        </ul>
      </div>
    <% } else { %>
      <a class="profileLink" href="/login">
        <span>Login</span>
      </a>
    <% } %>
  </div>
