<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/article.css" type="text/css">
    <title>BlogPost</title>
</head>
<body>
    <%- include('component/navbar.ejs') %>  <!-- js located in the public folder-->
    <div id="pageContainer">
        <div id="page" class="post-page">
            <section class="banner" style="background: url('/images/1.jpg') no-repeat 75% top"></section>

            <div class="title-container"><h1 class="post-title"><%= blog.title %></h1></div>

            <div class="sub-container">
                <h4 class="sub-title">by
                    <a href="#">
                        <%= blog.author %>
                    </a> on 
                    <span class="date">
                        <%= blog.createdAt.toLocaleDateString() %>
                    </span>
                </h4>
            </div>
            <div class="page-content">
                <%- blog.sanitizedHtml %>
            </div>
            <!-- <div class="tag-container">
                <hr>
                <h5>Tags:</h5>
                <ul class="tag-list">
                    <li>lorem</li>
                    <li>ipsum</li>
                    <li>blog</li>
                </ul>
            </div> -->
        </div>
    </div>
    <%- include('component/footer.ejs') %>
</body>

</html>