<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/images/assets/logo-favicon.png">
    <title>Blog</title>
</head>
<body>
    <div class="nav-container">
        <%- include('component/navbar.ejs') %>
    </div>
    <div class="view-container">
        <%- include('component/topNavbar.ejs') %>
        <div class="viewport">
            <% if (routeName == 'home') { %>
                <%- include('viewport/postPreview.ejs') %>
            <% } else if (routeName == 'slug') { %>
                <%- include('viewport/post.ejs') %>
            <% } else if (routeName == 'edit') { %> 
                <%- include('viewport/edit.ejs') %>
            <% } else if (routeName == 'newPost') { %>
                <%- include('viewport/newPost.ejs') %>
            <% } else { %>
                <%- include('viewport/404.ejs') %>
            <% } %>
            <div class="secret"></div>
        </div>
    </div>
</body>
</html>