<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/e2fcf864fc.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="/images/assets/bloglogo-favicon.png">
    <title>Blog</title>
</head>
<body>
    <div class="nav-container">
        <%- include('partials/Navbar.ejs') %>
    </div>
    <div class="view-container">
        <%- include('partials/Header.ejs') %>
        <div class="viewport">
            <% if (routeName == 'home') { %>
                <%- include('viewport/timelinePosts.ejs') %>
            <% } else if (routeName == 'slug') { %>
                <%- include('viewport/individualPost.ejs') %>
            <% } else if (routeName == 'newPost') { %>
                <%- include('viewport/markdown.ejs') %>
            <% } else if (routeName == 'profile') { %>
                <%- include('viewport/profile.ejs') %>
            <%  }else if (routeName == 'settings') { %>
                <%- include('viewport/settings.ejs') %>
            <%  }else { %>
                <%- include('viewport/404.ejs') %>
            <% } %>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>