<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/mainLayout.css">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.45.0/dist/full.css" rel="stylesheet" type="text/css" />

<section>
    <section class="profileHeader">
        <div class="profileImg ml-5">
            <img src="<%= profileUser.profilePic %>" referrerPolicy="no-referrer" alt="user image">
        </div>
            
        <!-- Check if logged in user is on their own profile -->
        <% if(profileUser._id.toString() == user._id.toString()){ %>
            <div>
                <a href="#my-modal-2" class="btn btn-primary editProfileBtn mr-5 btn-sm">Edit Profile</a>
                <!-- Put this part before </body> tag -->
                <div class="modal" id="my-modal-2">
                  <div class="modal-box">
                    <a href="#"><label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label></a>
                    <h3 class="font-bold text-lg">Bio</h3>
                    <form action="/profile/<%= user._id %>/updateBio?_method=PUT" method="POST">
                        <textarea class="textarea textarea-bordered" name="bio"></textarea>
                        <div class="modal-action">
                          <input class="btn" type="submit" value="Save">
                        </div>
                      </form>
                  </div>
                </div>
            </div>
        <!-- If user is on another profile, check if they are following them or not. Render btns accordingly -->
        <% }else if(!following){ %>
            <button onclick="follow('<%= profileUser._id %>')" class="btn btn-primary editProfileBtn btn-sm mr-5">Follow</button>
          <% }else{ %>
            <button onclick="unfollow('<%= profileUser._id %>')" class="btn btn-primary editProfileBtn btn-sm mr-5">Unfollow</button>
          <% } %>
    </section>

    <!-- Profile statistics: Username, bio, following amt, followers amt, posts/bookmarks -->
    <section class="profileStats">
        <h3 class="profileUsername m-5"><%= profileUser.userName %></h3>
        <p class="m-5"><%= profileUser.bio %></p>
        <div class="followerContainer m-5">
            <div class="mr-2"><%= profileUser.following.length %> Following</div>
            <div class="mr-2"><%= profileUser.followers.length %> Followers</div>
        </div>
        <div class="profilePostsBookmarks mt-10">
            <a class="PostsBookmarksAnchor" href="/profile/myprofile/<%=profileUser._id%>"><span class="profileTab">Posts</span></a>
            <a class="PostsBookmarksAnchor" href="/profile/bookmarks/<%=profileUser._id%>"><span class="profileTab">Bookmarks</span></a>
        </div>
    </section>

    <!-- This is the default render, when a profile is visited, blogs will load on the prpfile. We are making sure that blogs was passed on the request to see what information should render -->
    <% if(typeof blogs !== 'undefined'){ %>
        <!-- Check if the user has created any blogs, if not, display a message -->
        <% if(blogs.length == 0){ %>
            <h4 class="profileMsg">What? No blogs yet?</h4>
            <!-- If user DOES have a history of blogs, display them -->
        <%} else { %>
            <% blogs.forEach(blog => { %>
                <div class="pcContainer"> <!-- flex column -->
                    <%# if (blog.author === req.user.username) { %>
                        <div class="dropdown dropdown-end userOptions">
                            <label tabindex="0" class="btn m-1"><i class="fa-solid fa-ellipsis"></i></label>
                            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-30 pcDropdownStyle">
                              <li><a>Pin to Profile</a></li>
                              <li><a href="/blog/edit/<%= blog.id %>">Edit Blog</a></li>
                              <li><a>Delete Blog</a></li>
                            </ul>
                          </div>
                    <%# } %>
                    <section class="pcHeading"> <!-- flex row -->
                        <article class="text-xs"><%- include('partials/UserLogo.ejs') %></article>
                        <div class="pcTitle text-3xl"><%= blog.title %></div>
                        <span class="text-xs"><%= blog.createdAt.toLocaleDateString() %></span>
                    </section>
                    <section class="pcPicAndBlurb"> <!-- flex row -->
                        <img src="/images/default.png" alt="image representing the contents of the blog post"> <!-- change to database image -->
                        <p class="text-lg">this is a blog about blogging yo. i like blogs.</p> <!-- change to database blurb -->
                    </section>
                    <div class="pcActions">
                        <ul> <!-- flex row -->
                            <!-- Check if user has bookmarked the rendered blog. If they have, give them option to remove bookmark. Else, give them the ability to save for later (bookmark) -->
                            <% if(user.bookmarks.includes(blog._id)){ %>
                                <li onclick="bookmarkPost('<%= blog._id %>')"><button method="POST" class="text-xs"><i class="fa-solid fa-bookmark text-xs"></i> Remove Bookmark</button></li>   
                            <%} else { %>
                                <li onclick="bookmarkPost('<%= blog._id %>')"><button method="POST" class="text-xs"><i class="fa-regular fa-bookmark text-xs"></i> Save for later</button></li>   
                            <%}%>
                            <li><a class="title text-xs" href="/blog/<%= blog.slug %>/read">Read More <i class="fa-solid fa-arrow-right text-xs"></i></a></li>
                        </ul>
                    </div>
                </div>
            <% }) %>
        <%}%>


    <!-- If the user selects 'bookmarks' on the profile page, the bookmarked pages will load  -->
    <% } else { %>
        <!-- Check if the user has any bookmarks, if not, display a message -->
        <% if(bookmarks[0].bookmarks.length === 0){ %>
            <h4 class="profileMsg">Your bookmarks will appear here.</h4>
        <%} else { %>
            <!-- Render bookmarks -->
            <% bookmarks.forEach(object => { %>
                <% object.bookmarks.forEach(bookmark => { %>    
                    <div class="bookmarkContainer"> <!-- flex column -->
                        <section class="pcHeading"> <!-- flex row -->
                            <article class="text-xs"><%- include('partials/UserLogo.ejs') %></article>
                            <div class="pcTitle text-3xl"><%= bookmark.title %></div>
                            <span class="text-xs"><%= bookmark.createdAt.toLocaleDateString() %></span>
                        </section>
                        <section class="pcPicAndBlurb"> <!-- flex row -->
                            <img src="/images/default.png" alt="image representing the contents of the blog post"> <!-- change to database image -->
                            <p class="text-lg">this is a blog about blogging yo. i like blogs.</p> <!-- change to database blurb -->
                        </section>
                        <div class="pcActions">
                            <ul> <!-- flex row -->
                                <!-- Check if user has bookmarked the rendered blog. If they have, give them option to remove bookmark. Else, give them the ability to save for later (bookmark) -->
                                <% if(user.bookmarks.includes(bookmark._id)){ %>
                                    <li onclick="bookmarkPost('<%= bookmark._id %>')"><button method="POST" class="text-xs"><i class="fa-solid fa-bookmark text-xs"></i> Remove Bookmark</button></li>   
                                <%} else { %>
                                    <li onclick="bookmarkPost('<%= bookmark._id %>')"><button method="POST" class="text-xs"><i class="fa-regular fa-bookmark text-xs"></i> Save for later</button></li>   
                                <%}%>
                                <!-- Always render the "Read More" button -->
                                <li><a class="title text-xs" href="/blog/<%= bookmark.slug %>/read">Read More <i class="fa-solid fa-arrow-right text-xs"></i></a></li>
                            </ul>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        <%} %>
    <% } %>
</section>
<script src="https://cdn.tailwindcss.com"></script>