<% blogs.forEach(blog => { %>
    <div class="pcContainer"> <!-- flex column -->
        <% if (blog.author && blog.author.userName && user && user.userName && blog.author.userName === user.userName) { %>
            <div class="dropdown dropdown-end userOptions">
                <label tabindex="0" class="btn m-1"><i class="fa-solid fa-ellipsis"></i></label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-30 pcDropdownStyle">
                  <li><a>Pin to Profile</a></li>
                  <li><a href="/blog/edit/<%= blog._id %>">Edit Blog</a></li>
                  <li>
                    <form action="/blog/delete/<%= blog._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                  </li>
                </ul>
              </div>
        <%  }else { %>
            <div class="dropdown dropdown-end userOptions">
                <label tabindex="0" class="btn m-1"><i class="fa-solid fa-ellipsis"></i></label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-30 pcDropdownStyle">
                  <li><a href="/blog/<%= blog.slug %>/read">Read Full Post</a></li>
                  <% if (typeof user !== "undefined") { %>
                    <li><button method="POST" class="text-xs"><i class="fa-regular fa-bookmark text-xs"></i>Bookmark Post</button></li>
                    <li><a>Pin to Profile</a></li>
                  <% } else { %>
                    <li><a href="/login"><button method="POST" class="text-xs"><i class="fa-regular fa-bookmark text-xs"></i>Bookmark Post</button></a></li>
                    <li><a href="/login">Pin to Profile</a></li>
                  <% } %>
                  
                </ul>
            </div>
        <% } %>
        <section class="pcHeading"> <!-- flex row -->
            <a class="profileLink postUser" href="<%= (typeof user !== "undefined") ? '/profile/myprofile/' + blog.author._id : '/login' %>"">
              <img src="<%= blog.author.profilePic %>" referrerPolicy="no-referrer" alt="user profile image">
              <span><%= blog.author.userName %></span>
            </a>
            <div class="pcTitle"><%= blog.title %></div>
            <span class="text-xs"><%= blog.createdAt.toLocaleDateString() %></span>
        </section>
        <section class="pcPicAndBlurb"> <!-- flex row -->
            <img src="<%= blog.thumbnailImage %>" referrerPolicy="no-referrer" alt="image representing the contents of the blog post"> <!-- change to database image -->
            <p class="text-lg"><%= blog.intro %></p> <!-- change to database blurb -->
        </section>
        <div class="pcActions">
            <ul> <!-- flex row -->
                <% if (typeof user !== "undefined") { %>
                  <% if(user.bookmarks.includes(blog._id)){ %>
                    <li onclick="bookmarkPost('<%= blog._id %>')"><button method="POST" class="text-xs"><i class="fa-solid fa-bookmark text-xs"></i> Remove Bookmark</button></li>   
                  <%} else { %>
                    <li onclick="bookmarkPost('<%= blog._id %>')"><button method="POST" class="text-xs"><i class="fa-regular fa-bookmark text-xs"></i> Save for later</button></li>   
                  <%}%>
                  <% } else { %>
                    <li><a href="/login"><button method="POST" class="text-xs"><i class="fa-regular fa-bookmark text-xs"></i> Save for later</button></a></li>
                  <% } %>                  
                <li><a class="title text-xs" href="/blog/<%= blog.slug %>/read">Read More <i class="fa-solid fa-arrow-right text-xs"></i></a></li>
            </ul>
        </div>
    </div>
<% }) %>