<link rel="stylesheet" href="/css/viewport.css">

<div class="viewportContainer">
    <% articles.forEach(article => { %>
        <article class="blog-card" style="background: url('<%- article.img %>')">
            <div class="title-content">
                <h3><%= article.title %></h3>
                <div class="intro">
                    <a href="#"><%= article.intro %></a>
                </div>
            </div>
            <div class="card-info">
                <p><%= article.body %></p>
                <a href="/blog/<%= article.slug %>">Read Article<i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="utility-info">
                <ul class="utility-list">
                    <li><i class="fa-regular fa-thumbs-up"></i><a href="#"><%= article.totalLikes %></a></li>
                    <li><i class="fa-regular fa-comment"></i><a href="#"><%= article.totalComments %></a></li>
                    <li><i class="fa-regular fa-calendar-days"></i><%= article.createdAt.toLocaleDateString() %></li>
                    <li><a href="/edit/<%= article.id %>"><i class="fa-regular fa-pen-to-square"></i></i></a></li>
                    <li><i class="fa-solid fa-tag"></i><%= article.tags %></li>
                </ul>
                </div>
                <div class="gradient-overlay"></div>
                <div class="colorOverlay"></div>
            </div>
        </article>
    <% }) %>
</div>