<!-- This is just to demonstrate how I think the viewport would be handled -->
    <!-- <div id="viewport">  
        <% if (routeName == 'home') { %>
            <%- include('component/postPreview.ejs') %>
        <% } else if (routeName == 'slug') { %>
            <%- include('component/post.ejs') %>
        <% } else if (routeName == 'edit') { %> 
            <%- include('component/edit.ejs') %>
        <% } else if (routeName == 'newPost') { %>
            <%- include('component/newPost.ejs') %>
        <% } else if (routeName == 'login') { %>
            <%- include('component/login.ejs') %>
        <% } else if (routeName == 'register') { %>
            <%- include('component/register.ejs') %>
        <% } else { %>
            <%- include('component/404.ejs') %>
        <% } %>
    </div> -->