<div class="viewContainer">
    <div class="headerContainer">
        <h1>Edit Blog</h1>
    </div>
    <div class="bodyContainer">
        <form action="/blog/<%= blog.id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input required value="<%= blog.title %>" type="text" name="title" id="title" class="form-control">
            </div>
            <div>
                <label for="intro">Intro</label>
                <textarea name="intro" id="intro" class="form-control"><%= blog.intro %></textarea>
            </div>
            <div>
                <label for="body">Author</label>
                <textarea name="author" id="body" class="form-control"><%= blog.author %></textarea>
            </div>
            <div>
                <label for="markdown">Markdown</label>
                <textarea required name="markdown" id="markdown" class="form-control"><%= blog.markdown %></textarea>
            </div>

            <a href="/" class="btn">Cancel</a>
            <input type="submit" class="btn btn-primary mt-2">
        </form>
    </div>
</div>