<link rel="stylesheet" href="/css/individualPost.css">
<div class="markdownContainer">
    <header class="markdownHeader">
        <h1><%= blog.title %></h1>
    </header>
    <div class="markdownIcons">
        <i onclick="bookmarkPost('<%= blog._id %>')"class="<%= bookmarked === true ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark' %>"></i>
        <i onclick="updateLike('<%= blog._id %>')"class="<%= liked === true ? 'fa-solid fa-heart' : 'fa-regular fa-heart'  %>"> <%= totalLikes %></i>
        <i class="fa-regular fa-share-from-square"></i>
    </div>
    <div class="author">
        <h5>Written by <a href="#"><%= blog.author.userName %></a> &bull; <%= moment(blog.createdAt).format('MMMM Do') %></h5>
    </div>
    <section class="blogContent">
        <%- blog.sanitizedHtml %>
    </section>
</div>