<link rel="stylesheet" href="/css/postPreview.css">
<link rel="stylesheet" href="/css/main.css">
    <% articles.forEach(article => { %>
    <div class="postcardContainer">
        <figure class="postcard">
            <form action="/<%= article.id %>?_method=DELETE" method="POST">
                <button type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
            <%# if (article.author === req.user.username || req.user.role === 'admin') { %>
            <div><a href="/edit/<%= article.id %>"><i class="fa-solid fa-pencil"></i></a></div>
            <%# } %>
            <a class="title" href="/<%= article.slug %>/article">
                <h2><%= article.title %></h2>
                <h4><%= article.author.userName %></h4>
                <figcaption>
                    <p><%= article.intro %></p>
                </figcaption>
            </a>
            <ul>
                <li><a href="#"><%= article.totalLikes %><i class="fa-solid fa-thumbs-up"></i></a></li>
                <li><a href="#"><%= article.totalComments %><i class="fa-solid fa-comments"></i></a></li>
                <li><%= article.createdAt.toLocaleDateString() %></li>
            </ul>
        </figure>
    </div>
    <% }) %>