<link rel="stylesheet" href="/css/timelinePosts.css">
<link rel="stylesheet" href="/css/main.css">
    <% blogs.forEach(blog => { %>
    <div class="postcardContainer">
        <figure class="postcard">
            <form action="/blog/<%= blog.id %>?_method=DELETE" method="POST">
                <button type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
            <%# if (blog.author === req.user.username || req.user.role === 'admin') { %>
            <div><a href="/blog/edit/<%= blog.id %>"><i class="fa-solid fa-pencil"></i></a></div>
            <%# } %>
            <a class="title" href="/blog/<%= blog.slug %>/read">
                <h2><%= blog.title %></h2>
                <h4><%= blog.author.userName %></h4>
                <figcaption>
                    <p><%= blog.intro %></p>
                </figcaption>
                <% if (blog.thumbnailImage) { %>
                    <div class="postImage">
                        <img id="image" src="<%= blog.thumbnailImage %>" alt="blog photo">
                    </div> 
                <% } %>
            </a>
            <ul>
                <li><a href="#"><%= blog.totalLikes %><i class="fa-solid fa-thumbs-up"></i></a></li>
                <li><%= blog.createdAt.toLocaleDateString() %></li>
            </ul>
        </figure>
    </div>
    <% }) %>